<%- include('parts/html_head') %>
<%- include('parts/navbar') %>
<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Id</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i=0; i<sales.length; i++) { %>
    <tr>
        <td><%= sales[i].name %></td>
        <td><%= sales[i].age %></td>
        <td><%= sales[i].id %></td>
    </tr>
    <% } %>
    </tbody>
</table>
</div>
<%- include('parts/scripts') %>
<%- include('parts/html_foot') %>


