<%- include('html_head') %>
<%- include('navbar') %>
<style>
    table>tbody>tr>td>a.remove {
        color: orange;
    }
    table>tbody>tr>td>a.remove:hover {
        color: red;
    }
</style>
<div class="container">
    <div class="row" style="margin-top: 20px">
        <div class="col">
            <ul class="pagination pagination-sm">
                <% for(let i=1; i<=totalPages; i++ ){ %>
                <li class="page-item <%= i==page ? 'active' : '' %>">
                    <a class="page-link" href="/data-list/<%= i %>"><%= i %></a>
                </li>
                <% } %>
            </ul>

        </div>
    </div>


    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th><i class="fas fa-trash-alt"></i></th>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Address</th>
                    <!--
                    <th scope="col">Created at</th>
                    -->
                    <th><i class="fas fa-user-edit"></i></th>
                </tr>
                </thead>
                <tbody>
                <% for(let i = 0; i < rows.length; i++){
                    let k = rows[i]; %>
                <tr>
                    <td><a class="remove" href="javascript: delete_it(<%= k['sid'] %>)">
                        <i class="fas fa-trash-alt"></i>                 
                        </a></td>
                    <td><%= k['sid'] %></td>
                    <td><%= k['name'] %></td>
                    <td><%= k['mobile'] %></td>
                    <td><%= k['email'] %></td>
                    <td><%= k['birthday'] %></td>
                    <td><%= k['address'] %></td>
                    <!--
                    <td><%= k['created_at'] %></td>
                    -->
                    <td>
                        <a href="/data-edit/<%= k['sid'] %>">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>


        </div>
    </div>


</div>
<%- include('scripts') %>
<script>
    let rows = <%- JSON.stringify(rows) %>;

    function delete_it(sid){
        if(confirm(`確定要刪除編號 ${sid} 的資料嗎?`)){
            location.href = '/data-remove/'+sid;
        }
    }
</script>
<%- include('html_foot') %>