<%- include('html_head') %>
<%- include('navbar') %>
<div class="container">
    <div class="row" id="msg-bar" style="display: none">
        <div class="col">
            <div class="alert" role="alert"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-6">
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">修改資料</h5>

                    <form name="form1" method="post" onsubmit="return checkForm()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= data.name %>">
                            <small id="nameHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile</label>
                            <input type="text" class="form-control" id="mobile" name="mobile" value="<%= data.mobile %>">
                            <small id="mobileHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="text" class="form-control" id="email" name="email" value="<%= data.email %>">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Birthday</label>
                            <input type="text" class="form-control" id="birthday" name="birthday" value="<%= data.birthday %>">
                            <small id="birthdayHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address" value="<%= data.address %>">
                            <small id="addressHelp" class="form-text text-muted"></small>
                        </div>

                        <button type="submit" class="btn btn-primary">修改</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--
除錯用
<%- JSON.stringify(locals) %>
-->
<%- include('scripts') %>
<script>
    var msg_bar = $('#msg-bar');
    var msg_bar_div = msg_bar.find('.alert');
    var btn = $('button[type=submit]');

    function checkForm(){
        // TODO: 資料送出前的檢查
        btn.hide();

        $.post('/data-edit/<%= data.sid %>', $(document.form1).serialize(), function(data){
            msg_bar_div.removeClass('alert-success');
            msg_bar_div.removeClass('alert-danger');
            console.log(data);
            if(data.success){
                msg_bar_div.text('修改成功');
                msg_bar_div.addClass('alert-success');
                setTimeout(function(){
                    location.href = '/data-list';
                }, 2000);
            } else {
                msg_bar_div.text(data.errorMsg);
                msg_bar_div.addClass('alert-danger');
                btn.show();
            }
            msg_bar.show();
        }, 'json');

        return false;
    }
</script>
<%- include('html_foot') %>